html,
body,
canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
}

.no-display {
    display: none !important;
}

.overlay {
    display: flex !important;
    flex-direction: column;
    right: 0 !important;
    bottom: 0 !important;
    width: 100vw;
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.instruction {
    order: 1;
    text-align: center;
    font-size: 3em;
    font-family: Montserrat, serif;
}

.vr-button, .babylonVRicon {
    order: 2;
    width: 50vw !important;
    height: 15vh !important;
    background-color: transparent !important;
    background-image: url(../img/vr-goggles.svg) !important;
    background-position: center !important;
    background-size: 70% !important;
    border-radius: 30px;
    align-items: center !important;
}

#loading-screen {
    opacity: 1;
    transition: opacity 1.5s ease 0s;
    pointer-events: none;
    place-items: center;
    align-items: center;
    justify-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

#scene-progress {
    position: absolute;
    width: 40vw;
    left: 30%;
    top: 62.5%;
    z-index: 100;
    height: 3rem;
    font-size: 1.5rem
}