html,
body,
canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#fps {
    position: absolute;
    background-color: black;
    border: 2px solid red;
    text-align: center;
    font-size: 16px;
    color: white;
    top: 15px;
    right: 10px;
    width: 60px;
    height: 20px;
}

.no_display {
    display: none !important;
}

/* HIDE RADIO */
.avatar_radio{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
.avatar_img {
    padding: 4px;
    width: 150px;
    cursor: pointer;
}

/* CHECKED STYLES */
.avatar_radio:checked + label{
    border: 1px;
    border-radius: 2pt;
    box-shadow: 0 0 0 2px var(--bs-blue);
    outline: none;
    transition: .2s;
}

.avatar_radio + label{
    margin: 5px;
}