html,
body,
canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#fps {
    position: absolute;
    background-color: black;
    border: 2px solid red;
    text-align: center;
    font-size: 16px;
    color: white;
    top: 15px;
    right: 10px;
    width: 60px;
    height: 20px;
}

.no_display {
    display: none !important;
}

.overlay{
    display: flex !important;
    flex-direction: column;
    right: 0 !important;
    bottom: 0 !important;
    width: 100vw;
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.instruction {
    order: 1;
    text-align: center;
    font-size: 3em;
    font-family: Montserrat, serif;
}

.vr-button, .babylonVRicon{
    order: 2;
    width: 50vw !important;
    height: 15vh !important;
    background-color: transparent !important;
    background-image: url(../img/vr-goggles.svg) !important;
    background-position: center !important;
    background-size: 70% !important;
    border-radius: 30px;
    align-items: center !important;
}